{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} - {{ squirrel.Unique_Squirrel_ID }}{% endblock %}

{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
         <!--> <div>
            <div class="card mb-3 shadow-sm">
              <img class="bd-placeholder-img card-img-top"
                   width="225" height="225" preserveAspectRatio="xMidYMid slice"
                   focusable="false" role="img" aria-label="{{ pet.name }}"
                   src="{% get_media_prefix %}{{ pet.profile_image }}"></img>
            </div>
          </div>
        <form id="submit" method="post" action="{% url 'adopt:request' %}" class="input-group mb-3">
            {% csrf_token %}
            <input type="text"
                   name="adopter"
                   class="form-control"
                   placeholder="Email Address"
		   aria-label="Email Address"/><-->
		   <!--> <input type="hidden" name="pet_id" value="{{ pet.id }}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Request</button>
            </div>
            <div id="errors" class="mb-3"></div>
          </form>
	</div>
	<-->
        <div class="col-md-8">
          <div class="card mb-8 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <div class="pet-name">
                  <strong>{{ squirrel.Unique_Squirrel_ID }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">Latitude:</span>
                  <span>
                    {{ squirrel.Latitude }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Longitude:</span>
                  <span>
                    {{ squirrel.Longitude }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Shift:</span>
                  <span>
                    {{ squirrel.Shift }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Date:</span>
                  <span>
                    {{ squirrel.Date }}
                  </span>
                </div>
                <div>
                  <span class="text-muted font-italic">Age:</span>
                  <span>
                    {{ squirrel.Age }}
                  </span>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}	

